body{
    
    background-image:url("https://c0.wallpaperflare.com/preview/235/755/831/apple-mouse-artificial-flowers-blurred-background-close-up.jpg");
    background-repeat:no-repeat;
    background-size:center;
    background-attachment:scroll;
    

   
}